<div class="wrapper wrap-bg02">
    <!-- 遊戲說明 start -->
    <div class="wrap-gameinfo">
        <a href="/">
            <div class="button__back type-btn"><img src="/static/images/btn_back.png" alt=""></div>
        </a>
        <div class="header"></div>
        <div class="content">
            <div class="gameinfo__icon"><img src="/static/images/img_game01.png" alt=""></div>
            <div class="gameinfo__title"><img src="/static/images/img_infotitle.png" alt=""></div>
            {{#if isCatchGame}}
                <!-- 遊戲一說明 start -->
                <div class="gameinfo__text"><span>點擊螢幕</span>即可改變移動方向接住氣球得分，接到炸彈扣分或扣時間。</div>
                <!-- 遊戲一說明 end -->
            {{else}}
                <!-- 遊戲二說明 start -->
                <div class="gameinfo__text">透過砲彈進行射擊，按住按鈕進行瞄準，放開即射擊</div>
                <!-- 遊戲二說明 end -->
            {{/if}}
            
            <div class="gameinfo__example">
                {{#if isCatchGame}}
                <!-- 遊戲一示意圖 start -->
                <ul>
                    <li><img src="/static/images/img_gamaexample_0.jpg" alt=""></li>
                    <li><img src="/static/images/img_gamaexample_1.jpg" alt=""></li>
                </ul>
                <!-- 遊戲一示意圖 end -->
                {{else}}
                <!-- 遊戲二示意圖 start -->
                <ul>
                    <li><img src="/static/images/img_gamaexample_2.gif" alt=""></li>
                </ul>
                <!-- 遊戲二示意圖 end -->
                {{/if}}
            </div>
            <!-- 遊戲提示 start 遊戲二text：失敗2次立即結束 -->
            <div class="gameinfo__tips">
                <div class="item"><img src="/static/images/icon_time.png" alt=""></div>
                <div class="text">{{#if isCatchGame}}限時1分鐘{{else}}失敗2次立即結束{{/if}}</div>
            </div>
            <!-- 遊戲提示 end -->
        </div>
        <div class="footer"></div>
    </div>
    <!-- 遊戲說明 end -->
    <!-- 道具使用 start -->
    <div class="wrap-gameprop">
        <div class="gameprop__title"><img src="/static/images/img_proptitle.png" alt=""></div>
        <div id="js-content" class="gameprop__content">
            <!-- item-prop:一般狀態 | item-prop--lock:鎖住狀態 | item-prop--select: 使用中狀態 -->
            {{!-- <div class="type-btn item" data-btn="attrBox" style="display: none">
                <div class="item-icon"><img src="/static/images/icon_scoreup.png" alt=""></div>
                <div class="item-info">
                    <div class="item-name">{itemName}</div>
                    <div class="item-possess"><span>{totalGameItemCount}</span></div>
                    <div class="item-objects">
                        <!-- 使用中會有兩次： 1:未使用 | 0:已使用 | select:目前狀態(閃爍) -->
                        <div class="item"><img src="/static/images/img_itemrate_1.png" alt=""></div>
                        <div class="item"><img src="/static/images/img_itemrate_1.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="type-btn item" data-btn="attrBox" style="display: none">
                <div class="item-icon"><img src="/static/images/icon_coinup.png" alt=""></div>
                <div class="item-info">
                    <div class="item-name">{itemName}</div>
                    <div class="item-possess"><span>{totalGameItemCount}</span></div>
                    <div class="item-objects">
                        <!-- 使用中會有兩次： 1:未使用 | 0:已使用 | select:目前狀態(閃爍) -->
                        <div class="item select"><img src="/static/images/img_itemrate_1.png" alt=""></div>
                        <div class="item"><img src="/static/images/img_itemrate_0.png" alt=""></div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
    <!-- 道具使用 end -->
    <!-- 開始遊戲 start -->
    <div id="js-go" class="button__go type-btn"><img src="/static/images/btn_go.png" alt=""></div>
    <!-- 開始遊戲 end -->
    <!-- 遮罩 start -->
    <div id="js-zoneMask" class="zoneMask" style="display: none;">
        <div class="attrBox" data-name="attrBox">
            <div class="content">
                <div class="item-title"><img src="/static/images/img_attrTitle01.png" alt=""></div>
                <div class="inputList">
                    <div class="title"></div>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="attrBox__button">
                <div class="button__x type-btn" data-btn="close"><img src="/static/images/btn_x.png" alt=""></div>
                <div class="button__accept type-btn" data-btn="accept"><img src="/static/images/btn_accept.png" alt=""></div>
            </div>
            <div class="item-bg"><img src="/static/images/img_attrPanel.png" alt=""></div>
        </div>
    </div>
    <!-- 遮罩 end -->
</div>


{{!-- <h1>
    {{game.name}}
</h1>

<p>
    {{{game.description}}}
    {{{game.parameters}}}
    {{{game.code}}}
    {{{game.imageUrl}}}
</p> --}}



<input type="hidden" name="game_code" id="hidden_game_code" value="{{game.code}}">
<input type="hidden" name="game_id" id="hidden_game_id" value="{{game.id}}">

<script src="/static/js/game.intro.bundle.js"></script>